@import "../../assets/scss/_colors.scss";

p {
    margin-bottom: 0px;
}

header#cover {
    background-image: url(/assets/images/space.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 0px;
    h3, h4 {
        color: ghostwhite;
    }
    h3#username {
        margin-top:25px;
        font-size: 40px;
    }
    h4#pfFields {
        text-align: center;
    }
}

// #divCover {
//     img {
//         height: 200px;
//     }
// }

#divAvatarHolder {
    position: relative;
    z-index: 50;
    text-align: center;
    img {
        margin: 0px auto;
        width: 200px;
        border: solid white 2px;
    }
}

main {
    padding: 0px;
    ul.listSections {
        list-style: none;
        padding: 0px;
        li {
            div {
                header {
                    height: 45px;
                    padding: 0px;
                    h2 {
                        width: 200px;
                        margin: 0px;
                        font-size: 23px;
                        color: floralwhite;
                        position: relative;
                        top: 10px;
                        left: 1em;
                    }
                }
                section.row {
                    margin: 2px 0em 4px 0em;;
                    padding-left: 1em;
                    width: 100%;
                    md-card {
                        text-align: center;
                        padding: 1em 0px;
                        //margin-left: 10px;
                        max-width: 180px;
                        margin: 0.25rem 0.25rem 0.25rem 0rem;
                        text-overflow: ellipsis;

                        md-card-title.projectImg {
                            max-height: 80%;
                            text-align: center;
                            img {
                                margin-top: 10px;
                                max-width: 80px;
                            }
                            i {
                                margin-top: 10px;
                                font-size: 70px;
                            }
                        }
                        md-card-content {
                            > p {
                                margin-bottom: 0px;
                            }
                        }
                    }
                    ul > li {
                        font-size: 12px;
                    }
                }
            }
            div#info {
                header {
                    background-color: $teal;
                }
                i {
                    font-size: 20px;
                    color: $teal;
                    position: relative;
                    top: 5px;
                    right: 9px;
                }
                img {
                    width: 20px;
                    position: relative;
                }
            }
            div#edu {
                header {
                    background-color: $purple;
                }
                i.material-icons {
                    color: $purple;
                }
            }
            div#desiredJob {
                header {
                    background-color: $orange;
                }
            }
            div#workExp {
                header {
                    background-color: $cyan;
                }
                section > div {
                    margin-top: 5px;
                    > table{
                        thead {
                            tr {
                                background-color: $cyan-100;
                            }
                        }
                        tbody {
                            tr:nth-of-type(odd) {
                                background-color: $cyan-50;
                            }
                        }
                    }
                }
            }
            div#interests {
                header {
                    background-color: $green;
                }
            }
            div#projects {
                header {
                    background-color: $indigo;
                }
                i.material-icons {
                    color: $indigo;
                    position: relative;
                    top: 10px;
                }
            }
            div#awards {
                header {
                    background-color: $pink;
                }
                i.material-icons {
                    color: $pink;
                    position: relative;
                    top: 10px;
                }
                .awardLvl {
                    color: $pink;
                }
                div.andMore {
                    margin: 0px auto;
                }
            }
            div.other {
                header {
                    background-color: $teal;
                }
                footer {
                    font-weight: bold;
                    text-align: center;
                }
            }
        } // <-- li
    }
}

div.andMore {
    text-align: center;
    padding-top: 1.5em;
    max-width: 180px;
    div.projectImg {
        max-height: 80%;
        img {
            margin-top: 10px;
            max-width: 80px;
        }
        i {
            margin-top: 10px;
            font-size: 70px;
        }
    }
}



/* Responsive Settings Start*/

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {	
    header#cover {
        h3#username {
            text-align: center;
        }
        
        h3#fullTitle {
            display: none;
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    header#cover {
        h3#username {
            text-align: center;
        }
        h3#fullTitle {
            display: none;
        }     
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    h3#fullTitle {
        display: block;
    }
    #divAvatarHolder {
        position: absolute;
        right: 5em;
    }
    h4#pfFields {
        float: left;
    }
    div#info {
        section.row {
            div > p {
                margin: 5px 0px 5px 0px;
            }
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h3#fullTitle {
        display: block;
    }
    #divAvatarHolder {
        position: absolute;
        right: 5em;
    }
    h4#pfFields {
        float: left;
    }

}

/* Responsive Settings End*/