<header id="cover" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div id="divAvatarHolder">
      <img class="img-fluid img-circle" src="assets/images/{{ user.avatar }}" alt="{{ user.name }}">
    </div>
    <h3 id="fullTitle">{{ title }}</h3>
    <h3 id="username">{{ user.name }}</h3>
  </div>
</header>

<main class="container-fluid">
  <ul>
    <li>
      <div>
        <header id="info">
          <h2>Personal info</h2>
        </header>
        <section class="row">
          <div class="col-md-6">
            <p><span>I am </span> <span>Valorad</span></p>
            <p><span>I was born at: </span> <span>2222-2-22</span></p>
          </div>
          <div class="col-md-6">
            <p><span>Phone number:</span> <span>192-1681-0101</span></p>
            <p><span>Email: </span> <span>valorad@nmail.com</span></p>
            <p><span>Home page: </span> <span>https://www.gaoduanhei.com</span></p>
          </div>
        </section>
      </div>
    </li>
    <li>
      <div>
        <header id="edu">
          <h2>Education</h2>
        </header>
        phone mail http blah blah
      </div>
    </li>
    <li>
      <div>
        <header id="desiredJob">
          <h2>Desired Jobs</h2>
        </header>
        phone mail http blah blah
      </div>
    </li>
    <li>
      <div>
        <header id="workExp">
          <h2>Work Experience</h2>
        </header>
        phone mail http blah blah
      </div>
    </li>
    <li>
      <div>
        <header id="interests">
          <h2>Interests</h2>
        </header>
          <h3>Profesional Interests</h3>
          <h3>Personal Interests</h3>
      </div>
    </li>
    <li>
      <div>
        <header id="projects">
          <h2>Projects</h2>
        </header>
          <h3>ddd</h3>
      </div>
    </li>
    <li>
      <div>
        <header id="compliments">
          <h2>Compliments</h2>
        </header>
        phone mail http blah blah
      </div>
    </li>
  </ul>
</main>

<h1>
  
</h1>

<div class="container">
  <div class="col-lg-12">
    <a class="btn btn-primary">Click</a>
  </div>
</div>

  <div class="form-group label-static">
    <label for="i2" class="control-label">label-static</label>
    <input type="email" class="form-control" id="i2" placeholder="placeholder attribute">

    <p class="help-block">This is a hint as a <code>p.help-block.hint</code></p>
  </div>

