<header id="cover" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div id="divAvatarHolder">
      <img class="img-fluid img-circle" src="assets/images/{{ user.avatar }}" alt="{{ user.name }}">
    </div>
    <h3 id="fullTitle">{{ title }}</h3>
    <h3 id="username">{{ user.name }}</h3>
    <h4 id="pfFields">{{ user.field }}</h4>
  </div>
</header>

<main class="container-fluid">
  <ul class="listSections">
    <li>
      <div id="info">
        <header>
          <h2>Personal info</h2>
        </header>
        <section class="row">
          <div class="col-sm-6">
            <p><i class="material-icons md-20">cake</i><b>I was born on: </b> <span>{{ info.birthday|date:'y/M/d' }}</span></p>
          </div>
          <div class="col-sm-6">
            <p><i class="material-icons md-20">phone</i><b>Phone number:</b> <span>{{ info.phone }}</span></p>
          </div>
          <div class="col-sm-6">
            <p><i class="material-icons md-20">email</i><b>Email: </b> <span>{{ info.email }}</span></p>
          </div>
          <div class="col-sm-6">
            <p><i class="material-icons md-20">home</i><b>Home page: </b> <span>{{ info.php }}</span></p>
          </div>
        </section>
      </div>
    </li>
    <li>
      <div id="edu">
        <header>
          <h2>Education</h2>
        </header>
        <section class="row">
          <!--<i class="material-icons md-80">school</i>-->
          <div class="col-md-6" id="eduBasic">
            <p><b>Graduated from</b> <span>{{ edu.school }}</span></p>
            <p><b>Major in </b> <span>{{ edu.major }}</span></p>
            <p><b>GPA: </b> <span>{{ edu.gpa }}</span></p>
          </div>
          <div class="col-md-6">
              <b>Skills:</b>
              <ul>
                <li *ngFor="let skill of edu.skills">{{ skill }}</li>
              </ul>
          </div>
          <div class="col-md-6"><p><b>Acheived Degree: </b> <span>{{ edu.degree }}</span></p></div>
          <div class="col-md-6"><p>
            <b>Awards: </b>
            <span *ngFor="let award of awards">{{ award.title }}, </span>etc...
           </p>
           </div>
        </section>
      </div>
    </li>
    <li>
      <div id="desiredJob">
        <header>
          <h2>Desired Jobs</h2>
        </header>
        <section class="row">
          <div class="col-lg-12">
            <b>{{ apply.desiredjob }}</b>
          </div>
        </section>
      </div>
    </li>
    <li>
      <div id="projects">
        <header>
          <h2>Projects</h2>
        </header>
        <section class="row">
          <div class="col-sm-3 card" *ngFor="let project of projects">
            <div class="projectImg">
              <img *ngIf="project.img" src="assets/images/{{ project.img }}" alt="{{ project.name }}">
              <i *ngIf="!project.img" class="material-icons md-80">settings</i>
            </div>
            <small>{{ project.name }}</small>
          </div>
        </section>
      </div>
    </li>
    <li>
      <div id="awards">
        <header>
          <h2>Awards</h2>
        </header>
        <section class="row">
          <div class="col-sm-3 card" *ngFor="let award of awards">
            <div class="projectImg">
              <img *ngIf="award.img" src="assets/images/{{award.img}}" alt="{{ award.title }}">
              <i *ngIf="!award.img" class="material-icons md-80">redeem</i>
            </div>
            <small>{{ award.title }}</small>
          </div>
          <div class="col-sm-3 card">
            <div class="projectImg">
              <img src="assets/images/UIplus.png" alt="more">
            </div>
            <small>And more...</small>
          </div>
        </section>
      </div>
    </li>
    <li>
      <div id="workExp">
        <header>
          <h2>Work Experience</h2>
        </header>
        <section class="row">
          <div class="col-lg-6">
            <table class="table table-striped">
              <thead class="thead-default">
                <tr>
                  <th>#</th>
                  <th>Period</th>
                  <th>Company</th>
                  <th>Title</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let exp of workexp,let i=index">
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ exp.period.timeStart|date:'y/M' }}-{{ exp.period.timeEnd|date:'y/M' }}</td>
                  <td>{{ exp.company }}</td>
                  <td>{{ exp.title }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-6">
            <table class="table table-striped">
              <thead class="thead-default">
                <tr>
                  <th>#</th>
                  <th>Time</th>
                  <th>Project</th>
                  <th>What I Did</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projects,let i=index">
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ project.time|date:'y/M' }}</td>
                  <td>{{ project.name }}</td>
                  <td><small>{{ project.discr }}</small></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </li>
    <li>
      <div id="interests">
        <header>
          <h2>Interests</h2>
        </header>
        <section class="row">
          <div class="col-sm-6">
            <h3>Profesional Interests</h3>
            <ul> 
              <li *ngFor="let proi of proInterest"> {{ proi.interest }} </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h3>Personal Interests</h3>
              <ul>
                <li *ngFor="let peri of perInterest"> {{ peri.interest }} </li>
              </ul>
          </div>
        </section>
      </div>
    </li>
  </ul>
</main>

<!--<div class="container">
  <div class="col-lg-12">
    <a class="btn btn-primary">Click</a>
  </div>
</div>-->
  <!--<div class="form-group label-static">
    <label for="i2" class="control-label">label-static</label>
    <input type="email" class="form-control" id="i2" placeholder="placeholder attribute">

    <p class="help-block">This is a hint as a <code>p.help-block.hint</code></p>
  </div>-->

