<header id="cover" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div id="divAvatarHolder">
      <img class="img-fluid img-circle" src="assets/images/{{ user.avatar }}" alt="{{ user.name }}">
    </div>
    <h3 id="fullTitle">{{ title }}</h3>
    <h3 id="username">{{ user.name }}</h3>
  </div>
</header>

<main class="container-fluid">
  <ul>
    <li>
      <div>
        <header>
          <h2>Basic info</h2>
        </header>
        phone mail http blah blah
      </div>
    </li>
    <li>
      <div>
        <header>
          <h2>Education</h2>
        </header>
        phone mail http blah blah
      </div>
    </li>
  </ul>
</main>

<h1>
  
</h1>

<div class="container">
  <div class="col-lg-12">
    <a class="btn btn-primary">Click</a>
  </div>
</div>

  <div class="form-group label-static">
    <label for="i2" class="control-label">label-static</label>
    <input type="email" class="form-control" id="i2" placeholder="placeholder attribute">

    <p class="help-block">This is a hint as a <code>p.help-block.hint</code></p>
  </div>

